$font-family: 'Roboto Condensed', Roboto, Helvetica, Arial;;

$primary-color: #83CBF7;
$secondary-color: #A3D25D;
$tertiary-color: #EDDE7F;
$divider-color: rgba(164, 164, 164, .1);
$grey-black: #111111;
$grey-darker: #1D1D1D;
$grey-dark: #3C3C3C;
$grey: #A4A4A4;
$grey-light: #EBEBEB;
$grey-white: #FAFAFA;

$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

$size-xxlarge: 24pt;
$size-xlarge: 20pt;
$size-large: 18pt;
$size-medium: 16pt;
$size-normal: 12pt;
$size-small: 11pt;
$size-xsmall: 10pt;

$sidebar-width: 300px;
$content-width: 600px;
$rightbar-width: 460px;
