$font-family: 'Helvetica Neue', Roboto, Helvetica, Arial;;

$primary-color: rgb(255, 48, 48);
$grey-black: #464646;
$grey-dark: #929292;
$grey: #BFBFBF;
$grey-light: #F2F0F0;
$grey-white: #F7F7F7;

$weight-thin: 100;
$weight-extra-light: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 800;
$weight-black: 900;

$size-xlarge: 34pt;
$size-large: 22pt;
$size-medium: 18pt;
$size-normal: 12pt;
$size-small: 11pt;
$size-xsmall: 10pt;

$sidebar-width: 240px;
