<div id="content">
    {% for section in sections %}
        <section class="content-section">
            <div class="content-group">
                <div class="content-info">
                    <header>
                        <h1 id="{{ section.resource.path }}">{{ section.title }}</h1>
                        {% if section.resource.version %}
                        <p>Version {{ section.resource.version }}</p>
                        {% endif %}
                        {% if section.resource.base_uri %}
                        <p>Base URI <a href="{{ section.resource.base_uri }}" alt="Base URI">{{ section.resource.base_uri }}</a></p>
                        {% endif %}
                    </header>

                    {% if section.documentation %}
                        {% for doc in section.documentation %}
                            {% if doc %}
                            {{ doc }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% set resource = section.resource %}
                    {% include 'includes/resource.html' %}
                </div>
            </div>

            {% for item in section.items %}
                <div class="content-group">
                    <div class="content-section-item">
                        <h2 id="{{ item.resource.path }}">{{ item.title }}</h2>

                        {% if item.documentation %}
                            {% for doc in item.documentation %}
                                {% if doc %}
                                {{ doc }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% set resource = item.resource %}
                        {% include 'includes/resource.html' %}
                    </div>

                    {% if item.resource.responses %}
                        <div class="examples">
                        {% for response in item.resource.responses %}
                            {% if response.body and 200 <= response.code < 300 %}
                            <div class="example response">
                                <p>Example response ({{ response.code }}):</p>
                                <div class="codeblock">
                                    <div class="codeblock-header">
                                        <span class="codeblock-method">{{ response.method | upper }}</span>
                                        <span class="codeblock-path">{{ item.resource.path }}</span>
                                    </div>
                                    {% for body in response.body -%}
                                        {{ body.example | highlight(body.mime_type) }}
                                    {%- endfor %}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
