<div id="content">
    {% for section in sections %}
        <section class="content-section">
            <div class="content-group">
                <div class="content-info">
                    <h1 id="{{ section.resource.path }}">{{ section.title }}</h1>

                    {% if section.docs %}
                        {% for doc in section.docs %}
                            {% if doc %}
                            {{ doc }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% for item in section.items %}
                <div class="content-group">
                    <div class="content-section-item">
                        <h2 id="{{ item.resource.path }}">{{ item.title }}</h2>

                        {% if item.docs %}
                            {% for doc in item.docs %}
                                {% if doc %}
                                {{ doc }}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>

                    {% if item.example %}
                        <div class="content-example">
                            {% if item.example.request %}
                                <div class="example-request">
                                    <p>Example request:</p>
                                    <div class="codeblock">
                                        <div class="codeblock-header">
                                            <span class="codeblock-method">{{ item.example.request.method }}</span>
                                            <span class="codeblock-path">{{ item.example.request.path }}</span>
                                        </div>
                                        <pre>{{ item.example.request }}</pre>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
