#sidebar {
    width: $sidebar-width;
    height: 100%;
    top: 0;
    left: 0;
    background: $grey-white;
    position: fixed;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 1px solid $divider-color;

    li, h4 {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}
