html, body {
    font-family: $font-family;
    color: $grey-dark;
}

h1, h2, h3, h4, h5 {
    display: block;
    font-weight: $weight-normal;

    &.subtitle {
        margin-top: -0.5em;
        color: $grey;
        font-weight: $weight-light;
    }
}

h1 {
    font-size: $size-xxlarge;
    margin-top: 16px;
}

h2 {
    font-size: $size-xlarge;
    margin-top: 8px;
}

h3 {
    font-size: $size-large;
}

h4 {
    font-size: $size-medium;
    line-height: 1.5em;
}

h5 {
    font-size: $size-normal;
}

p {
    padding-top: 14px;
    font-size: $size-normal;
    line-height: 1.5em;

    a {
        text-decoration: underline;
    }
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &.subscript {
        text-decoration: underline;
    }
}

.subscript {
    font-size: $size-xsmall;
    color: $grey;
}

em {
    font-style: italic;
}
